//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages

.entry-title {
	font-size: rem(24);
	margin: 0 0 .5em 0;
	text-align: center;
	font-weight: 200;
	letter-spacing: rem(5);

	a {
		text-decoration: none;
		border-bottom: 1px solid black;

		@include susy-media($tablet-portrait) {
			padding: 0 1em;
		}
	}

	@include susy-media($tablet-landscape) {
		font-size: rem(36);
		margin-bottom: 1em;
	}
}

.entry-description,
.entry-footer,
.post-navigation,
.comments-area {
	max-width: 100%;
	margin: 0 auto $gutter auto;

	@include susy-media($tablet-portrait) {
		max-width: rem(640);
		margin-bottom: $gutter * 2;
	}

	& > * {
		display: block;
	}
}

.sticky {
	display: block;
}

.most-recent-post {
	margin-bottom: $gutter * 2;

	h2 {
		margin-bottom: $gutter / 2;
	}
}

.wp-post-image {
	margin-bottom: $gutter * 2;
	margin-right: auto;
	margin-left: auto;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary{
	max-width: rem(640);
	margin: 0 auto 1.5em auto;
}

.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
}

.edit-link {
	text-align: center;
}
.description {
	@include container;
}

.gallery {
	@include container;
}

.index-grid {
	& .wp-post-image {
		margin:0;
	}

	@include susy-media($mqs-phone-portrait){
		@include gallery(12 of 12);
	}

	@include susy-media($mqs-phone-landscape){
		@include gallery(6 of 12);
	}

	@include susy-media($mqs-tablet-portrait){
		@include gallery(4 of 12);
	}

	@include susy-media($mqs-tablet-landscape){
		@include gallery(3 of 12);
	}

	@include susy-media($mqs-desktop){
		@include gallery(2.4 of 12);
	}

	@include susy-media($mqs-large-desktop){
		@include gallery(2 of 12);
	}

	@include susy-media($mqs-xl-desktop){
		@include gallery(2 of 12);
	}
	
}

.index-description {
	@include span(8 of 12);
}
.index-image {
	@include span(4 of 12);
}

// Meta Information
.posted-on-meta {
	text-align: center;
	margin-bottom: 1em;
}

.image-exif-list {
	list-style: none;
	padding: 0;
	margin-left: 0;
}

// Asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
