//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages

.entry-title {
	font-size: rem(36);
}

.sticky {
	display: block;
}

// .hentry {
// 	margin: 0 0 rem(24) 0;
// }

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	// margin: rem(24) 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
}

.edit-link {
	margin: 0 rem(24);
}
.description {
	@include container;
}

.gallery {
	@include container;
}

.index-grid {
	@include susy-media($mqs-phone-portrait){
		@include gallery(12 of 12);
	}

	@include susy-media($mqs-phone-landscape){
		@include gallery(6 of 12);
	}

	@include susy-media($mqs-tablet-portrait){
		@include gallery(4 of 12);
	}

	@include susy-media($mqs-tablet-landscape){
		@include gallery(3 of 12);
	}

	@include susy-media($mqs-desktop){
		@include gallery(2.4 of 12);
	}

	@include susy-media($mqs-large-desktop){
		@include gallery(2 of 12);
	}

	@include susy-media($mqs-xl-desktop){
		@include gallery(2 of 12);
	}
	
}

.index-description {
	@include span(8 of 12);
}
.index-image {
	@include span(4 of 12);
}

// Asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
