//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------

.site-footer {
	background: #666;
	color: white;
	padding-top: $gutter * 2;

	a {
		color: $footer-color-link;
	}
}

.credits,
.site-info {
	text-align: center;
	margin-bottom: $gutter * 2;
}