//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social icons <ul>
.social-icons {
	@include clearfix;
	@include list-reset;
	text-align: center;
	margin-bottom: $gutter;

	// Each icon <li>
	.social-icon {
		display: inline-block;


		// Loop through all social icons
		@each $social-color, $color in $social-colors {

			// Set styles on those social icons!
			.icon-#{$social-color} {
				@include size(rem(60) rem(60));

				fill: #fff;

				&:hover {
					fill: $color;
				}
			}
		}

		// No margin for the last <li> item
		&:last-child {
			margin-right: 0;
		}
	}
}