//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	@include container;

	padding: 0 2 * $gutter;
}

.blog-wrap {
	max-width: rem(1280);
	margin-left: auto;
	margin-right: auto;

	padding: 0 2 * $gutter;
}

.site-content {
	margin: rem(20) auto;

	@include susy-media($desktop) {
		margin: rem(40) auto rem(60);
	}
}