//--------------------------------------------------------------
// HTML Elements
//--------------------------------------------------------------

// Iframes

embed,
iframe,
object {
	max-width: 100%;
}

hr {
	@include size(auto 1px);

	background-color: $color-background-hr;
	border: 0;
	margin: 0 0 rem(24) 0;
}

figure {
	margin: 0;
}

// Lists

ul,
ol {
	margin: 0 0 rem(48) rem(24);

	&.image-exif-list {
		margin-bottom: 0;	
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0 0 0 rem(24);
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 rem(24) rem(24) 0;
}

// Tables

table,
th,
td {
	border: 1px solid #d1d1d1;
}

table {
	@include size(100% auto);
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	table-layout: fixed;
	margin: 0 0 rem(24);
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

th,
td {
	padding: rem(16);
}

td {
	border-width: 0 1px 1px 0;
}