// // --------------------------------------------------------------
// // Grid Settings - overrides default Bourbon Neat
// // http://neat.bourbon.io/examples/
// // --------------------------------------------------------------

$column: em(69);       // default width of your colums
$gutter: em(12);       // default width of the gutters
$max-width: em(1480);   // max-width of the grid/theme in pixels
$total-columns: 12;    // number of columns

// Susy Settings
$susy: (
  /* Tells Susy to use 12 columns */
  columns: $total-columns,
  /* Tells Susy that the container has a max-width of 1120px */
  container: $max-width,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box,
);

// Setup Breakpoint Slices
$mqs-phone-portrait: max-width ($phone-portrait - 1);
$mqs-phone-landscape: $phone-portrait $phone-landscape;
$mqs-tablet-portrait: ($phone-landscape + 1) $tablet-portrait;
$mqs-tablet-landscape: ($tablet-portrait + 1) $tablet-landscape;
$mqs-desktop: ($tablet-landscape + 1) $desktop;
$mqs-large-desktop: ($desktop + 1) ($large-desktop - 1);
$mqs-xl-desktop: $large-desktop;
