// // --------------------------------------------------------------
// // Grid Settings - overrides default Bourbon Neat
// // http://neat.bourbon.io/examples/
// // --------------------------------------------------------------

$column: em(69);       // default width of your colums
$gutter: em(12);       // default width of the gutters
$max-width: em(1480);   // max-width of the grid/theme in pixels
$total-columns: 12;    // number of columns

// Susy Settings
$susy: (
  columns: $total-columns,
  gutters: 0,
  container: $max-width,
  global-box-sizing: border-box,
);

// Setup Breakpoint Slices
$mqs-phone-portrait: max-width $phone-portrait;
$mqs-phone-landscape: $phone-portrait $phone-landscape;
$mqs-tablet-portrait: $phone-landscape $tablet-portrait;
$mqs-tablet-landscape: $tablet-portrait $tablet-landscape;
$mqs-desktop: $tablet-landscape $desktop;
$mqs-large-desktop: $desktop $large-desktop;
$mqs-xl-desktop: $large-desktop;
